@import "normalize";
@import "variables";

* {
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: .7rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px cornflowerblue;
}

body::-webkit-scrollbar-thumb {
  background-color: steelblue;
  outline: 0 solid transparent;
}
